@import 'bootstrap/scss/bootstrap';

html ,body {
  height: 100vh;
}

#root {
  height: 100%;
}
.Home {
  text-align: center;

  @include media-breakpoint-up(sm) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .name {
    color: red;
    font-size: 30px;
  }
  .course {
    color: blue;
    font-size: 28px;
  }
  .timeline {
    color: green;
    font-size: 22px;
  }
}
.navbar-collapse{
  display: flex !important;
}